In [1]:
d = {}
type(d)

dict

In [3]:
d1 = {"name":"anjali","age":23}
print(d1)

{'name': 'anjali', 'age': 23}

In [4]:
a = ["name","age"]
b = ["anjali",23]
c = dict(zip(a,b))
print(c)

{'name': 'anjali', 'age': 23}

In [5]:
a = ("name","age")
b = ("anjali",23)
c = dict(zip(a,b))
print(c)

{'name': 'anjali', 'age': 23}

In [6]:
a = ["name","age"]
b = ("anjali",23)
c = dict(zip(a,b))
print(c)

{'name': 'anjali', 'age': 23}

In [7]:
name = dict(name="anjali",age=23)
print(name)

{'name': 'anjali', 'age': 23}

In [9]:
d = dict([("nmae","anjali"),("age",20)])
print(d)

{'nmae': 'anjali', 'age': 20}

In [10]:
l1 = {"name":"anjali","age":23}
len(l1)

2

In [11]:
c1 = {"name":"anjali"}
c2 = {"age":23}
c1+c2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
c1 = {"name":"anjali"}
c1*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [14]:
c1 = {"name":"anjali"}
"name" in c1

True

In [20]:
var = {name:'anjali','age':23}
var[name]

TypeError: unhashable type: 'dict'

In [26]:
nested = {"name":"anjali","age":23,
          "insterst":["cricket","hockey"],
          "languages":{"speck":"english","write":"tamil"}}
nested["insterst"][0]
nested["languages"]["speck"]

'english'

In [28]:
mod = {'name':'anjali','age':23}
mod["name"]= "venki"
print(mod)

{'name': 'venki', 'age': 23}

In [29]:
mod = {'name':'anjali','age':23}
mod["name"]= "venki"
print(mod)
mod["address"] = "nil"
print(mod)

{'name': 'venki', 'age': 23}
{'name': 'venki', 'age': 23, 'address': 'nil'}

In [32]:
mod = {'name':'anjali','age':23}
del.mod["name"]
print(mod)

SyntaxError: invalid syntax (1515138072.py, line 2)

In [1]:
d = {"name":"anjali","age":23,"height":5.6}
d.items()

dict_items([('name', 'anjali'), ('age', 23), ('height', 5.6)])

In [2]:
d = {"name":"anjali","age":23,"height":5.6}
d.keys()

dict_keys(['name', 'age', 'height'])

In [3]:
d = {"name":"anjali","age":23,"height":5.6}
d.values()

dict_values(['anjali', 23, 5.6])

In [4]:
d = {"name":"anjali","age":23,"height":5.6}
d["name"]

'anjali'

In [5]:
d = {"name":"anjali","age":23,"height":5.6}
d.get("name")

'anjali'

In [6]:
d = {"name":"anjali","age":23,"height":5.6}
d.get("address","not fount")

'not fount'

In [7]:
d = {"name":"anjali","age":23,"height":5.6}
d.update(address="nill")
print(d)

{'name': 'anjali', 'age': 23, 'height': 5.6, 'address': 'nill'}

In [9]:
d1 = {"name":"anjali","age":23,"height":5.6}
d2 = (address:"nill")
d1.update(d2)
print(d1)

SyntaxError: invalid syntax (1316076414.py, line 2)

In [28]:
d1 = {"name":"anjali","age":23,"height":5.6}
d1.update(d2,"fname":"shiva")
print(d1)

SyntaxError: invalid syntax (1453822615.py, line 2)

In [21]:
d1 = {"name":"anjali","age":23,"height":5.6}
d2 = d1.copy()
print(d2)

{'name': 'anjali', 'age': 23, 'height': 5.6}

In [25]:
name = ("anjali","shiva")
val = ("nill")
empty = {}
empty.fromkeys(name,val)

{'anjali': 'nill', 'shiva': 'nill'}

In [26]:
d = {"name":"anjali","age":23,"height":5.6}
d.setdefault("fname","shiva")
print(d)

{'name': 'anjali', 'age': 23, 'height': 5.6, 'fname': 'shiva'}

In [29]:
d = {"name":"anjali","age":23,"height":5.6}
d.setdefault("age":40)

SyntaxError: invalid syntax (1738889820.py, line 2)

In [30]:
d = {"name":"anjali","age":23,"height":5.6}
d.pop("name")
print(d)

{'age': 23, 'height': 5.6}

In [31]:
d = {"name":"anjali","age":23,"height":5.6}
d.popitem()
print(d)

{'name': 'anjali', 'age': 23}

In [33]:
d = {"name":"anjali","age":23,"height":5.6}
del d["name"]
print(d)

{'age': 23, 'height': 5.6}

In [34]:
d = {"name":"anjali","age":23,"height":5.6}
del.d
print(d)

SyntaxError: invalid syntax (2541536388.py, line 2)

In [35]:
d = {"name":"anjali","age":23,"height":5.6}
d.clear()
print(d)

{}

In [1]:
d = {}
type(d)

dict