In [1]:
def add():
    a=int(input())
    b=int(input())
    print(a+b)
    add()

In [2]:
def add():
    a=int(input(20))
    b=int(input(50))
    print(a+b)
    add()

In [3]:
def add(a,b):
    return a+b
    result=add(3,5)
    print(result)

In [4]:
def add_two_numbers(a,b):
    return a+b
result = add_two_numbers(10,20)
print(result)

30

In [6]:
def sub_two_numbers(a,b):
    return a-b
result = sub_two_numbers(50,30)
print(result)

20

In [8]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [9]:
def add_num(num1, num2):
    return num1,num2
add_num(4,2)

(4, 2)

In [10]:
def myfunc(a,b):
    return sum((a,b))**2

myfunc(40,60)

10000

In [11]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*.05

myfunc(40,60,20)

6.0

In [1]:
def display(name,age,gender):
    print("name is",name)
    print("age is",age)
    print("gender is",gender)

    display(name="anjali",age="23",gender="f")