In [1]:
firstname = "anjali"
lastname = "nagaraj"
fullname = firstname + lastname
print(fullname)

anjalinagaraj

In [2]:
firstname = "anjali"
lastname = "nagaraj"
fullname = firstname + ""+ lastname
print(fullname)

anjalinagaraj

In [3]:
name = "Anjali"
result = name*3
print(result)

AnjaliAnjaliAnjali

In [6]:
x = "Hello"
y = "python"
z = "world"
a = x + y + z
print(a)

Hellopythonworld

In [9]:
a = "learning python"
b = "anjali"
print("you are" + a + "in" + b )

you arelearning pythoninanjali

In [10]:
print("hello,world")

hello,world

In [11]:
name = "anjali"
print("hello," + name + "!")

hello,anjali!

In [8]:
name = "Anjali"
age = 23
print(f"Hello, {name}! you are {age} years old.")

Hello, Anjali! you are 23 years old.

In [12]:
a = "Learning python"
b =  'Anjali'
print("you are {} in {}", format(a,b))

ValueError: Invalid format specifier 'Anjali' for object of type 'str'

In [7]:
a = "Hello"
print(a)

Hello

In [5]:
firstname = "Anjali"
lastname = "nagaraj"
fullname = firstname +" "+ lastname
print(fullname)

Anjali nagaraj

In [18]:
a = "Hello"
a[0]
a[1]
a[2]
a[3]
a[4]
print(a[0],a[1],a[2],a[3],a[4])

H e l l o

In [1]:
a = 12
b = 1
print(a+b)

13

In [2]:
a = 12
b = 1
print(a+b)

13

In [1]:
a = "hey buddies"
print(a.capitalize())

Hey buddies

In [2]:
age = "23 is my age"
print(age.capitalize())

23 is my age

In [3]:
b = "welcome to anjali"
print(b.count("welcome"))

1

In [5]:
b = "welcome to anjali"
print(b.count("n"))

1

In [7]:
b = "welcome to anjali"
print(b.count("n",0,7))

0

In [8]:
c = "python for Toddlers"
d = "PYTHON for Toddlers"
e = "python for toddlers"
print(c.islower())
print(d.islower())
print(e.islower())

False
False
True

In [9]:
c = "python for Toddlers"
d = "PYTHON for Toddlers"
e = "python for toddlers"
print(c.lower())
print(d.lower())
print(e.lower())

python for toddlers
python for toddlers
python for toddlers

In [10]:
c = "python for Toddlers"
d = "PYTHON for Toddlers"
e = "python for toddlers"
print(c.isupper())
print(d.isupper())
print(e.isupper())

False
False
False

In [11]:
c = "python for Toddlers"
d = "PYTHON for Toddlers"
e = "python for toddlers"
f = "PYTHON FOR TODDLERS"
print(c.upper())
print(d.upper())
print(e.upper())
print(f.upper)

PYTHON FOR TODDLERS
PYTHON FOR TODDLERS
PYTHON FOR TODDLERS
<built-in method upper of str object at 0x00000134A3110870>

In [13]:
f = "PYTHon for TODDlers"
print(f.swapcase())

pythON FOR toddLERS

In [14]:
g = "welcome to anjali"
print(g.title())

Welcome To Anjali

In [15]:
g = "welcome to anjali"
print(g.istitle())

False

In [18]:
variable = "hey how are you ??"
print(variable.startswith("hey"))

True

In [19]:
variable = "hey how are you ??"
print(variable.endswith("hey"))

False

In [21]:
variable = "hey how are you ??"
print(variable.endswith("?"))

True

In [22]:
num = "123"
print(num.isnumeric())

True

In [23]:
num1 = "123abc"
print(num.isnumeric())

True

In [24]:
alp = "hello"
print(alp.isalpha())

True

In [25]:
alp = "hello 1"
print(alp.isalpha())

False

In [26]:
abc = "123anjali"
print(abc.isalnum())

True

In [27]:
alphabet = "anjali"    
print(alphabet.isalnum())

True

In [28]:
num = "123"
print(num.isalnum())

True

In [29]:
txt = "welcome to anjali"
print(txt.find("to"))

8

In [30]:
txt = "welcome to anjali"
print(txt.find("too"))

-1

In [31]:
txt = "welcome to anjali"
print(txt.index("to"))

8

In [32]:
txt = "welcome to anjali"
print(txt.index("too"))

ValueError: substring not found

In [33]:
a = "i love dogs"
print(a.replace("love","like"))

i like dogs

In [34]:
a = "i love dogs"
print(a.replace("like","love"))

i love dogs