In [2]:
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [3]:
b = ("anjali",23,5.5)
print(b)

('anjali', 23, 5.5)

In [4]:
number = 1,2,3,4,5,6,7,8,9
print(number)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
c = (1)
print(c)

1

In [6]:
d = (1,)
print(d)

(1,)

In [7]:
number = (34,56,78,90)
print(len(number))

4

In [8]:
val = ("name",34,("learning"),78)
print(len(val))

4

In [9]:
val = ("name",34,("happy","learning"),78)
print(len(val))

4

In [10]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [11]:
a = (1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [14]:
a = (1,2,3)
3 in a

True

In [15]:
a = (1,2,3)
4 not in a

True

In [20]:
value = ("anjali",("happy","learning"),"python")
print(value[0])
print(value[2])
print(value[1][0])
print(value[1][1])

anjali
python
happy
learning

In [21]:
value = ("anjali",("happy","learning"),"python")
print(value[-1])
print(value[-3])
print(value[-2][0])

python
anjali
happy

In [22]:
value = ("anjali",("happy","learning"),"python")
value[0:2]
value[0:]
value[:]

('anjali', ('happy', 'learning'), 'python')

In [27]:
value = ("anjali",("happy","learning"),"python")
value[-3:]

('anjali', ('happy', 'learning'), 'python')

In [28]:

value = ("anjali",("happy","learning"),"python")
value[-3:-1]

('anjali', ('happy', 'learning'))

In [29]:
a = ("anjali",23,5.6)
(name,age,height) =a
print(a)

('anjali', 23, 5.6)

In [30]:
a = ("anjali",23,5.6)
(name,age,height) =a
print(name,age,height)

anjali 23 5.6

In [31]:
a = ("anjali",23,5.6,5,6,89,"hii")
name,*age,height =a
print(name,*age,height)

anjali 23 5.6 5 6 89 hii

In [32]:
a = ("anjali",23,5.6)
name,age,height =a
print(a)

('anjali', 23, 5.6)

In [33]:
tup = (1,2,3,4,5)
tup.count(1)

1

In [34]:
tup = (1,2,3,4,5,6,7,8,9,0,2,3,3,45)
tup.index(2)

1

In [35]:
tup = (1,2,3,4,5,6,7,8,9,0,2,3,3,45)
tup.index(1)

0

In [36]:
tup = (1,2,3,4,5,6,7,8,9,0,2,3,3,45)
tup.index(3)

2